<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>Hubspot Code Exercise</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/_fonts %>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>

    <% include ../partials/_testimonial %>

    <% include ../partials/_cta %>

    <% include ../partials/_filterable-content %>
    
    <script src="assets/js/app.bundle.js"></script>
  </body>
</html>