<section class="hs-section hs-filterable">
	
	<div class="hs-inner">
		<div class="hs-filterable--header">
				
			<div class="hs-filterable--row">
				<div class="hs-select">
					<span>Genre</span>
					<div class="hs-select--dropdown">
					</div>
				</div>
				<div class="hs-select">
					<span>Year</span>
					<div class="hs-select--dropdown">
					</div>
				</div>
				<div class="hs-filterable--search">
					<input id="search-input" type="text">
				</div>
			</div>

			<div class="hs-filterable--row">
				<div class="hs-filterable--radio">
					<input type="radio" name="mediatype" value="movie" id="movies-radio">
					<label for="movies-radio">Movies</label>
				</div>
				<div class="hs-filterable--radio">
					<input type="radio" name="mediatype" value="book" id="books-radio">
					<label for="books-radio">Books</label>
				</div>
				<div class="hs-filterable--clear">
					<a id="filters-clear" href="#">Clear filters</a>
				</div>
			</div>

		</div>
	</div>

	<div class="hs-inner">

		<div class="hs-filterable--list">
			<div class="hs-filterable--row">
				<ul id="media-grid">
					
				</ul>
			</div>
		</div>

	</div>

</section>